<main>
<div class="row">
                    <div class="jumbotron">
                        
                         <h1>{{item.full_name}}</h1>
                        <img ng-src="img/{{item.image}}.jpg" alt="image"></p>
                        <p>Age: {{item.age}}</p>
                        <p>Occupation: {{item.occupation}}</p>
                        <p>Net Worth: ${{item.net_worth}}</p>
                        
                        
                        
<!--
                        <h1>Details for {{itemID}}</h1>
                        <p>This is an example to show a potential layout pattern in Bootstrap. We will do some practice with Routing and routing params.</p>
-->
                    </div>
                </div>
    
    </main>